{% extends 'projects/base.html' %}
{% block content %}

<!-- home section starts -->

<section id="home">

<h1>Get Fit Don't Quit</h1>
<h3>- commit to be fit -</h3>
<a href="#"><button>Join Us</button></a>


<div class="icons">
    <a href="#" class="fab fa-facebook"></a>
    <a href="#" class="fab fa-twitter"></a>
    <a href="#" class="fab fa-pintrest"></a>
    <a href="#" class="fab fa-instagram"></a>
</div>
</section>


<!-- home section ends -->

<!-- feature section starts -->

<section id="feature">
    
    <h1>feature</h1>

    <div class="card-container">
    
    <div class="card">
        <img src="p1.jpg" alt="">
        <div class="content">
            <h1>heavy weights</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ipsum totam, eius nobis laboriosam quis.</p>
            <a href="#"><button>learn more</button></a>
        </div>
    </div>

    <div class="card">
        <img src="p2.jpg" alt="">
        <div class="content">
            <h1>expert trainers</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ipsum totam, eius nobis laboriosam quis.</p>
            <a href="#"><button>learn more</button></a>
        </div>
    </div>
    
    <div class="card">
        <img src="p3.jpg" alt="">
        <div class="content">
            <h1>eco environment</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ipsum totam, eius nobis laboriosam quis.</p>
            <a href="#"><button>learn more</button></a>
        </div>
    </div>
    
    </div>

</section>




<!-- feature section ends -->

{% endblock content %}